@{
    ViewData["Title"] = "Crear Mueble";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Mueble" method="post">
    <div class="form-group">
        <label for="tipoMueble">Tipo de Mueble</label>
        <select id="tipoMueble" name="tipoMueble" class="form-control">
            <option value="Silla">Silla</option>
            <option value="Mesa">Mesa</option>
        </select>
    </div> <br />


    <div class="form-group">
        <label for="material">Material</label>
        <input type="text" class="form-control" id="material" name="material" placeholder="Ingresa el material">
    </div> <br />


    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" name="color" placeholder="Ingresa el color">
    </div> <br />

    <button type="submit" class="btn btn-primary">Crear Mueble</button>
</form>
